# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build/*
!/build/sites-vite-plugin.ts
!/build/sites-vite-plugin.LICENSE
/dist/
/.wrangler/
/.sites-runtime/
/.sites-artifacts/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts
/.tools/
/.firebase/
*-debug.log
